.fonctionnement { 
    @media (min-width: 700px) {
        padding: 50px 10%;
        }
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .items {
        @media (min-width: 700px) {
            width: auto;
            display: flex;
            flex-direction: row;
            }
    }
    
    .rules {
        @media (min-width: 700px) {
            width: 30%;
            }
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        gap: 15px;
        height: 72px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        background-color: #f6f6f6;
        cursor: pointer;

        h3 {
            font-weight: 500;
            border-radius: 15px;
            color: white;
            background-color: #9356DC;
            height: 24px;
            width: 24px;
            text-align: center;
            margin-left: -15px;
            font-size: 14px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        i {
            color: #7e7e7e;
        }

        p {
            color: black;
            font-weight: 600;
            font-size: 16px;
        }
    }
    
    .rules:hover {
        i{
            color: #9356dc;
        }
    }
}