.fonctionnement { 
    @media (min-width: 700px) {
        padding: 50px 10%;
        }
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;

    .items {
        @media (min-width: 700px) {
            width: auto;
            display: flex;
            flex-direction: row;
            }
    }
    
    .rules {
        @media (min-width: 700px) {
            width: 30%;
            }
        margin: 20px;
        display: flex;
        align-items: center;
        gap: 15px;
        width: 90%;
        height: 72px;
        border-radius: 20px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
        background-color: #f6f6f6;
        cursor: pointer;

        i {
            color: #7e7e7e;
        }

        p {
            color: black;
            font-weight: 600;
            font-size: 16px;
        }
    }
    
    .rules:hover {
        i{
            color: #9356dc;
        }
    }
}