footer {
    @media (min-width: 700px) {
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 50px;
        }
    background: var(--Grey, #353535);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

    .myfooter{
        @media (min-width: 700px) {
            display: flex;
        gap: 15px;
        }  
    }

    h2 {
        font-family: 'Shrikhand', serif;
        color: white;
        font-size: 18px;
        font-weight: 400;
    }

    i, a {
        color: white;
        padding-bottom: 7px;
    }

    a {
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
    }
        
}

        

            
