header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 14px;
    gap: 40px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    
        img {
            height: 35px;
            }
}