header {  
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    padding: 14px;
    gap: 40px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;
    z-index: 2;

        a {
            position: absolute;
            left: 5%;
            font-size: 30px;
            color: #353535;
        }
    
        img {
            height: 35px;
            }
}