$grey: #353535;
$header-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);

header {  
    @media (min-width: 700px) {
        height: 75px;
        }
    display: flex;
    justify-content: center;
    align-items: center;
    height: 63px;
    box-shadow: $header-shadow;
    position: relative;
    z-index: 2;

        a {
            position: absolute;
            left: 5%;
            font-size: 30px;
            color: $grey;
        }
    
        img {
            height: 35px;
            }
}