form {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 15px;
    height: 50px;
    background: var(--Grey-2, #EAEAEA);

    input {
        border: none;
        background: var(--Grey-2, #EAEAEA);
        font-size: 16px;
        font-weight: 500;
        &:focus{
            height: 100%;
            border-radius: 15px;
        }

        input::placeholder { 
            color: black;          
        } 
    } 
}