.restaurants {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 50px 20px;
    background-color: #f6f6f6;

    .listrestaurants {
        display: flex;
        flex-direction: column;

        a {
            height: 250px;
            display: grid;
            margin-bottom: 20px;
            grid-template-columns: 80% 20%;
            grid-template-rows: 75% 25%;
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            background-color: white;
            border-radius: 15px;
            text-decoration: none;
            padding-bottom: 30px;
            
                
                
                img { grid-area: 1 / 1 / 2 / 3; }
                .descriptioncard { grid-area: 2 / 1 / 3 / 2; }
                i { grid-area: 2 / 2 / 3 / 3; }
                p { grid-area: 1 / 2 / 2 / 3; }

            img {
                height: 100%;
                width: 100%;
                border-radius: 15px 15px 0px 0px;
                object-fit: cover;
            }

            p {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                font-weight: 500;
                color: #008766;
                background-color: #99E2D0;
                height: 25px;
                width: 75%;
                padding: 5px;
                border-radius: 5px;
            }
                
            .descriptioncard {
                padding-left: 13px;
                color: black;

                h4 {
                    padding-left: 5px;
                }

                p {
                    display: flex;
                    font-size: 17px;
                    font-weight: 300;
                    background-color: white;
                    color: black;
                    justify-content: flex-start;
                }
            }

            i {
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
            }

            i:hover {
                color: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
            }
        }
    }
}