.reservation {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #f6f6f6;

    .reservation p {
        color: var(--Grey, #353535);
        font-size: 18px;
        font-weight: 300;
    }
}