@keyframes images { 
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes menusY {
    0% { 
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes menusX {
    0% { 
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes menusX2 {
    0% { 
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}

@keyframes heart {
    0% { 
        transform: scale(0);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.card--1 {
    animation-delay: 500ms;
}
.card--2 {
    animation-delay: 1000ms;
}
.card--3 {
    animation-delay: 1500ms;
}
.card--4 {
    animation-delay: 2000ms;
}