button {
    margin: 15px;
    padding: 15px;
    width: 60%;
    max-width: 200px;
    border-radius: 25px ;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: transform 0.5s;
}

button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
}

.button {
    margin: 15px;
    padding: 15px;
    width: 60%;
    max-width: 200px;
    border-radius: 25px ;
    color: white;
    font-size: 16px;
    font-weight: 500;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.5s;
}

.button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
    box-shadow: 0px 4px 15px 10px rgba(0, 0, 0, 0.15);
    transform: scale(1.2);
}

h3 {
    font-size: 15px;
    font-weight: 500;
    border-radius: 15px;
    color: white;
    background-color: #9356DC;
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: -15px;
}
