$grey: #353535;

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    width: 100%;

    h2 {
        font-size: 24px;
        font-weight: 700;

    }

    p {
        font-size: 18px;
        font-weight: 300;
        color: $grey;
    }
}