header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 14px;
  gap: 40px;
}
header img {
  height: 35px;
}

body {
  font-family: "Roboto", sans-serif;
  width: 375px;
}
body h2 {
  font-size: 24px;
  font-weight: 700;
}
body p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

button {
  margin: 15px;
  padding: 15px;
  height: 50px;
  border: #9356DC;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

button:hover {
  background: linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
}

h3 {
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  color: white;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -15px;
}

form {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 50px;
  gap: 15px;
  background: var(--Grey-2, #EAEAEA);
  box-shadow: inset 0px 5px 10px;
}
form input {
  border: none;
  background: var(--Grey-2, #EAEAEA);
  font-size: 16px;
  font-weight: 500;
}
form input input::-moz-placeholder {
  color: black;
}
form input input::placeholder {
  color: black;
}

.reservation {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #f6f6f6;
}
.reservation .reservation p {
  color: var(--Grey, #353535);
  font-size: 18px;
  font-weight: 300;
}

.fonctionnement {
  padding-top: 50px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.fonctionnement .rules {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 90%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  cursor: pointer;
}
.fonctionnement .rules i {
  color: #7e7e7e;
}
.fonctionnement .rules i:hover {
  color: #9356dc;
}

.restaurants {
  padding-top: 50px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #f6f6f6;
}
.restaurants .listrestaurants {
  gap: 20px;
}
.restaurants a {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: 75% repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  text-decoration: none;
}
.restaurants a .menus img {
  grid-area: 1/1/2/3;
}
.restaurants a .menus h4 {
  grid-area: 2/1/3/2;
}
.restaurants a .menus p {
  grid-area: 3/1/4/2;
}
.restaurants a .menus i {
  grid-area: 2/2/4/3;
}
.restaurants a .menus img {
  height: 80%;
  width: 125%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants a .menus h4 {
  color: black;
  font-size: 18px;
  font-weight: 700;
}
.restaurants a .menus .descriptioncard {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-left: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.restaurants a .menus h4 {
  grid-area: 1/1/2/2;
}
.restaurants a .menus p {
  grid-area: 2/1/3/2;
}
.restaurants a .menus i {
  grid-area: 2/2/3/3;
}

footer {
  background: var(--Grey, #353535);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
footer h2 {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
footer i, footer a {
  color: white;
  padding-bottom: 7px;
}
footer a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

img {
  width: 100%;
}

.lerestaurant {
  width: 375px;
  height: auto;
  background-color: #f6f6f6; /*faire un border radius par dessus l'image*/
  margin-top: -100px;
}
.lerestaurant .title {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.lerestaurant .title h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  border: none;
}
.lerestaurant .title i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lerestaurant h2 {
  padding-top: 40px;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
  border-bottom: 3px #99e2d0 solid;
}
.lerestaurant .carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.lerestaurant .card {
  width: 90%;
  height: 70px;
  padding: 10px;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.lerestaurant h4 {
  grid-area: 1/1/2/2;
}
.lerestaurant p {
  grid-area: 2/1/3/2;
}
.lerestaurant span {
  grid-area: 2/2/3/3;
}
.lerestaurant h4 {
  font-size: 18px;
  font-weight: 500;
}
.lerestaurant p {
  font-size: 15px;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */