header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  padding: 14px;
  gap: 40px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
  z-index: 2;
}
header a {
  position: absolute;
  left: 5%;
  font-size: 30px;
  color: #353535;
}
header img {
  height: 35px;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
}
body h2 {
  font-size: 24px;
  font-weight: 700;
}
body p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
}

button {
  margin: 15px;
  padding: 15px;
  width: 60%;
  max-width: 200px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.2);
}

.button {
  margin: 15px;
  padding: 15px;
  width: 60%;
  max-width: 200px;
  border-radius: 25px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356DC -5.2%, #FF79DA 110.74%);
  transform: scale(1.2);
}

h3 {
  font-size: 15px;
  font-weight: 500;
  border-radius: 15px;
  color: white;
  background-color: #9356DC;
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: -15px;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 15px;
  height: 50px;
  background: var(--Grey-2, #EAEAEA);
}
form input {
  border: none;
  background: var(--Grey-2, #EAEAEA);
  font-size: 16px;
  font-weight: 500;
}
form input:focus {
  border: 2px solid black;
  height: 100%;
  border-radius: 15px;
}
form input input::-moz-placeholder {
  color: black;
}
form input input::placeholder {
  color: black;
}

.reservation {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #f6f6f6;
}
.reservation .reservation p {
  color: var(--Grey, #353535);
  font-size: 18px;
  font-weight: 300;
}

.fonctionnement {
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
@media (min-width: 700px) {
  .fonctionnement {
    padding: 50px 10%;
  }
}
@media (min-width: 700px) {
  .fonctionnement .items {
    width: auto;
    display: flex;
    flex-direction: row;
  }
}
.fonctionnement .rules {
  margin: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  width: 90%;
  height: 72px;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: #f6f6f6;
  cursor: pointer;
}
@media (min-width: 700px) {
  .fonctionnement .rules {
    width: 30%;
  }
}
.fonctionnement .rules p {
  color: black;
  font-weight: 500;
  font-size: 16px;
}
.fonctionnement .rules:hover i {
  color: #9356dc;
}

.restaurants {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #EAEAEA;
}
@media (min-width: 700px) {
  .restaurants {
    padding: 20px 10%;
    width: auto;
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .restaurants .listrestaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.restaurants .listrestaurants .cardrestaurants {
  height: 270px;
  background-color: white;
  border-radius: 25px;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: 75% 25%;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  transition: transform 0.5s;
}
@media (min-width: 700px) {
  .restaurants .listrestaurants .cardrestaurants {
    width: 42%;
    margin-bottom: 50px;
  }
}
.restaurants .listrestaurants a {
  grid-area: 1/1/3/3;
}
.restaurants .listrestaurants p {
  grid-area: 1/2/2/3;
}
.restaurants .listrestaurants i {
  grid-area: 2/2/3/3;
}
.restaurants .listrestaurants a {
  text-decoration: none;
}
.restaurants .listrestaurants img {
  height: 200px;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants .listrestaurants .carddescriptions {
  padding-left: 13px;
  padding-top: 10px;
}
.restaurants .listrestaurants .carddescriptions h3 {
  color: black;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  margin: 0px;
}
.restaurants .listrestaurants .carddescriptions p {
  padding: 0px;
  margin: 0px;
  color: black;
  font-size: 17px;
  font-weight: 300;
  background-color: transparent;
  text-align: start;
  box-shadow: none;
}
.restaurants .listrestaurants p {
  color: #008766;
  background-color: #99E2D0;
  height: 30px;
  width: 95%;
  text-align: center;
  border-radius: 5px;
  padding: 8px 0px 2px 0px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.restaurants .listrestaurants i {
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants .listrestaurants .cardrestaurants:hover {
  transform: scale(1.05);
}

footer {
  background: var(--Grey, #353535);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 700px) {
  footer {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
  }
}
@media (min-width: 700px) {
  footer .myfooter {
    display: flex;
    gap: 15px;
  }
}
footer h2 {
  font-family: "Shrikhand", serif;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
footer i, footer a {
  color: white;
  padding-bottom: 7px;
}
footer a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.images {
  position: relative;
  z-index: 1;
  height: 275px;
}
.images img {
  width: 110%;
  max-height: 375px;
  -o-object-fit: cover;
     object-fit: cover;
}

.lerestaurant {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  border-radius: 30px 30px 0px 0px;
  background-color: #f6f6f6;
  padding: 30px 13px 30px 13px;
}
@media (min-width: 700px) {
  .lerestaurant {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}
.lerestaurant .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 30px;
}
@media (min-width: 700px) {
  .lerestaurant .title {
    justify-content: center;
  }
}
.lerestaurant .title h2 {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}
.lerestaurant .title i {
  font-size: 28px;
}
@media (min-width: 700px) {
  .lerestaurant .menus {
    padding: 0px 10%;
  }
}
.lerestaurant h2 {
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
.lerestaurant .border {
  height: 3px;
  width: 40px;
  background-color: #99e2d0;
  margin-bottom: 13px;
}
.lerestaurant .carte {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  width: 100%;
}
.lerestaurant .carte .card {
  width: 100%;
  height: 70px;
  margin: 0px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  background-color: white;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;
}
.lerestaurant .carte h3 {
  grid-area: 1/1/2/2;
}
.lerestaurant .carte p {
  grid-area: 2/1/3/2;
}
.lerestaurant .carte .moving {
  grid-area: 1/2/3/3;
}
.lerestaurant .carte h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  color: black;
  background-color: transparent;
}
.lerestaurant .carte p {
  font-size: 15px;
  font-weight: 300;
  padding-left: 10px;
  margin: 0px;
}
.lerestaurant .carte .moving {
  display: flex;
  justify-content: flex-end;
  transform: translateX(70px);
  transition: transform 1s;
}
.lerestaurant .carte .moving span {
  display: flex;
  font-size: 15px;
  font-weight: 700;
  color: #353535;
  padding: 40px 15px;
}
.lerestaurant .carte .moving .greenbox {
  height: 100%;
  width: 70px;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
}
.lerestaurant .carte .moving .greenbox i {
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  font-size: 25px;
}
.lerestaurant .card:hover .moving {
  transform: translateX(0px);
}

.loadcontainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadcontainer .loader {
  margin: 0px;
  display: flex;
  height: 10%;
  width: 10%;
  color: #9356DC;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  justify-content: center;
  align-items: center;
  border: 5px solid;
  border-radius: 50%;
}/*# sourceMappingURL=main.css.map */