@import "../sass/layout/header.scss";
@import "../sass/base/base";
@import "../sass/components/components";
@import "../sass/layout/location";
@import "../sass/layout/reservation.scss";
@import "../sass/layout/fonctionnement";
@import "../sass/layout/restaurants";
@import "../sass/layout/footer";
@import "../sass/restaurants/pagesrestaurants";
@import "../sass/base/colors";
@import "../sass/base/loader";
@import "../sass/components/heart";